<div class="player{% if player.confirmed %} confirmed{% endif %}">
	<div class="player-image-container">
		<img class="player-image" src="{{ asset('img/' ~ player.image) }}">
	</div>
	<div class="player-info-container">
		<div class="player-info">
			<div class="name">
				<span class="nickname">{{ player.player.nickname}}</span> <span class="realname">({{ player.player.name }})</span>
			</div>
			
			<p>{{ player.description }}</p>
		</div>
	</div>
	<div class="clear"></div>
</div>