@grey: #959595;
@base-background-color: #F0F0F0;
@blue: #003489;
@light-blue: #0061FF;
@white: #FFF;
@red: #FF0000;
@green: #00FF47;

@gradient-dark-grey: #3A3A3A;
@gradient-light-grey: #585858;

@message-green-bg-color: #DBFFE5;
@message-green-border-color: #00FF47;
@message-red-bg-color: #ffdbdb;
@message-red-border-color: #ff0000;

@grey-border: 1px solid @grey;
@blue-border: 1px solid @blue;
@green-border: 1px solid @green;


body {
	font-family: 'Chakra Petch', sans-serif;
}

h1 {
	font-size: 30px;
	color: @blue;
	font-weight: bolder;
	margin-bottom: 20px;
}

h2 {
	font-size: 25px;
	color: @blue;
	font-weight: bold;
}

p {
	margin-bottom: 3px;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.red {
	color: @red;
}

.flash-messages {
	position: relative;
	margin: 25px auto;
	width: 75%;

	.flash-message {
		padding: 10px 0;
		border-radius: 5px;
		text-align: center;
		font-weight: bold;
	}

	.flash-success {
		background-color: @message-green-bg-color;
		border: 2px solid @message-green-border-color;
	}

	.flash-error {
		background-color: @message-red-bg-color;
		border: 2px solid @message-red-border-color;
	}
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}